body {
    margin: 0;
    padding: 0;
    background: #ebc7be;
  }

.nav ul{
  list-style: none;
  background-color: #F5FADF;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li{
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
}

.nav li li{
  font-size: 0.8em;
  line-height: 40px;
  text-align: left;
}
.nav a{
  text-decoration: none;
  color: #000;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s;
}

.nav a:hover{
  background-color: #005f5f;
}

/* Style menu for Larger screens*/

@media screen and (min-width: 1000px){
  .nav li{
    width: 160px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -8px;
  }

  .nav a{
    border-bottom: none;
  }

  .nav > ul > li{
    text-align: center;
  }

  .nav > ul > li > a{
    padding: 0;
  }

/* Sub Menu*/

  .nav li ul{
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul{
    display: block;
  }
}

/*Login Form*/

  .login{
    background-color: ivory;
    text-align: center;

  }